    <ul class="centered social">
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="TEDxGunnHigh">Tweet</a>
      </li>
      <li>
        <div class="g-ytsubscribe" data-channel="TEDxGunnHighSchool" data-layout="default" data-count="default"></div>
      </li>
      <li style="padding-left: 30px">
        <div class="fb-like" data-href="https://www.facebook.com/TEDxGunnHighSchool" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" data-width="107"></div>
      </li>
    </ul>
    <div id="footer" class="centered">
        <p>This independent TEDx event is operated under license from TED.
        <p>&copy; 2014 &middot; <a href="http://hardmath123.github.io">Webmaster</a>
    </div>
</body>
</html>
