<!DOCTYPE html>
<html>
    <head>
        <title>TEDxGunnHighSchool</title>
        <meta name="description" content="TEDxGunnHighSchool"/><!-- TODO: A longer description for search engines -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon-precomposed.png"/>
        <link rel="shortcut icon" href="/static/favicon.png"/>
        <link rel="stylesheet" href="/static/base.css" type="text/css"charset="utf-8"/>
        <script src="/static/main.js" charset="utf-8"></script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        <script src="https://apis.google.com/js/platform.js"></script>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));</script>

    </head>
    <body>
        <header>
            <div class="container">
                <img alt="TEDx Gunn High School" src="static/TEDx_logo_vector.svg" />
                <ul class="nav float-right">
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="sponsors.html">Sponsors</a></li>
                    <li><a href="team.html">Team Members</a></li>
                    <li><a href="http://tinyurl.com/tedxyoutube">2014 Conference</a></li>
                    <li><a href="media.html">Media</a></li>
                </ul>
            </div>
        </header>
