{{> head }}
    <div class="centered">
        <h2>Media Coverage of TEDxGunnHighSchool</h2>
        <ul class="unstyled">
          <li>2014 &mdash; <a href="http://hepg.org/hel-home/issues/30_1/helarticle/ted-ifying-school">Harvard Education Letter</a></li>
          <li>2013 &mdash; <a href="https://www.edsurge.com/n/2013-09-17-better-than-the-debate-club">Edsurge</a></li>
          <li>2013 &mdash; <a href="http://www.fastcoexist.com/3017768/at-this-high-school-you-go-to-tedx-class">Fastcoexist</a></li>
          <li>2014 &mdash; <a href="http://www2.paloaltoonline.com/news/2014/01/15/teens-seek-inspiration-in-speaker-quest">Palo Alto Weekly</a></li>
          <li>2014 &mdash; <a href="http://www.paloaltoonline.com/news/2014/04/10/student-service-entrepreneurs-think-globally-and-locally">Palo Alto Weekly</a></li>
          <li>2012 &mdash; <a href="http://gunnoracle.com/2012/06/tedx-speakers-inspire-students-to-think-outside-the-box/">Gunn Oracle</a></li>
          <li>2014 &mdash; <a href="http://gunnoracle.com/2014/01/gunn-hosts-student-organized-tedx-conference-in-spangenberg/">Gunn Oracle</a></li>
        </ul>
    </div>
    <img class="award" src="static/award1.jpg" />
    <img class="award" src="static/award2.jpg" />
    <div class="imgbreak" style="background-image:url('static/break2.gif')">
    </div>
{{> foot }}
