{{> head }}
    <div class="centered">
        <h2>The TEDxGunnHighSchool Team</h2>
        <ul class="unstyled">
          <p><strong>Mike Snyder</strong> is a Stanford professor well-versed
          in the area of genetics and biotechnology. He will be talking about
          the Human Genome Project and its profound effects on society and
          today's technology.

          <p><strong>Sukey Bryan</strong> is a local Palo Alto artist whose
          artwork depicts natural scenes of places such as Norway and Iceland.
          She will be talking about her inspiration for art from both the
          environment as well as the surrounding order.

          <p><strong>Ronnie Shaw</strong> is the founder of the Sanfoka Center,
          a non-profit organization utilizing traditional African dance and
          music as a tool for education on sexually transmitted diseases. He
          will be discussing the importance of integrating the arts with
          education and the effects it has on students.

          <p><strong>Julie Lythcott-Haims</strong> is the former Dean of
          Freshman at Stanford University. She will be speaking about the
          importance of maintaining a healthy mentality both in academia and in
          life.

          <p><strong>Tom Gruber</strong> is the co-founder of Siri. An
          underwater photographer on the side, Tom Gruber will be sharing his
          experiences photographing various obscure yet unforgettable scenes
          and how he developed this hobby.

          <p><strong>Adam Cheyer</strong> is the co-founder of Siri. He will be
          discussing the importance of intelligent technology in today's world
          as well as thinking of strategies to adapt to the 21st century.

          <p><strong>Soumithri Bala</strong> is a senior at Gunn and the
          Captain of the Gunn Robotics Team. He will speak about his
          experiences developing his own 3-D printer and 3-D printing's effect
          on the future of technology in the 21st century.

          <p><strong>Calvin Wang</strong> and Brendan Wong are Gunn seniors and
          the co-founders of Humans of Palo Alto. They will talk about their
          encounters with people from all walks of life, and the significance
          of their photography project in helping unify the city of Palo Alto.

          <p><strong>Ronen Habib</strong> is a teacher at Gunn High School and
          will share his inspiration for creating the Positive Psychology
          course, stressing the importance of promoting student mental health
          and advocating peer and staff support.

          <p><strong>Ebrahim Feghhi</strong> and Lucas Munro are seniors at
          Gunn and will speak about creative and sharable technology, while
          being environmentally friendly.

          <p><strong>Michael Matias</strong> is an 18 year old entrepreneur
          from Tel Aviv, Israel.  Currently interning at Google Headquarters,
          he advocates for youth’s exposure to experimental learning and
          conflict resolution.

        </ul>
    </div>
    <div class="imgbreak" style="background-image:url('static/break2.gif')">
    </div>
{{> foot }}
