{{> head }}
    <div class="centered">
      <h2>Sponsors of TEDxGunnHighSchool</h2>
      <p>
        <h3>Cash</h3>
        <ul>
          <li>Parents of Gunn High School</li>
          <li>Oracle Corporation</li>
          <li>Palo Alto Partners in Education</li>
        </ul>
      </p>
      <p>
        <h3>In Kind</h3>
        <ul>
          <li>Sprinkles</li>
          <li>Ken Allen Videography</li>
          <li>Speech Capital</li>
          <li>Happy Donuts</li>
        </ul>
      </p>
    </div>
    <div class="imgbreak" style="background-image:url('static/break4.gif')">
    </div>
{{> foot }}
