{{> head }}
    <div class="centered">
        <h2>The TEDxGunnHighSchool Team</h2>
        <ul class="unstyled">
          <li><b>Leadership</b></li>
          <li>President: Gabriel Alon</li>
          <li>President: Justin Kim</li>
          <li>Vice President: Giannina Yu</li>
          <li>Vice President: Kathleen Xue</li>
          <li>Tech: Malcolm Jones</li>
          <li>Marketing: Josh Kaplan</li>
          <li>Set Design/Stage Tech: Lianna McFarlane-Connelly</li>
          <li>Photography: Amy Chen</li>
        </ul>
        <ul class="unstyled">
          <li><b>Tech</b></li>
          <li>Kartik Chandra</li><!-- C'est moi! -->
          <li>Samuel Winslow</li>
        </ul>
        <ul class="unstyled">
          <li><b>Staff Advisors</b></li>
          <li>Eric Ledgerwood</li>
          <li>Jessica Hexsel</li>
        </ul>
        <ul class="unstyled">
          <li><b>Members</b></li>
          <li>Ellaine Chou</li>
          <li>Chloe Sorensen</li>
          <li>Shannon Yang</li>
          <li>Avni Joshi</li>
          <li>Sachi Bajaj</li>
          <li>Leon Pan</li>
          <li>Jessica Li</li>
          <li>Manon Piernot</li>
          <li>Katie Garvey</li>
          <li>Maya Vishwanath</li>
          <li>Katie Russell</li>
          <li>Evalyn Li</li>
          <li>Jamie Shen</li>
          <li>Maya Ram</li>
          <li>Jamie La</li>
          <li>Aren Raisinghani</li>
        </ul>
        <a href="http://tinyurl.com/gunntedx">Recruiting new members!</a>
    </div>

    <div class="imgbreak" style="background-image:url('static/break2.gif')">
    </div>
{{> foot }}
